<!-- <app-number-parent>

</app-number-parent>

<app-stopwatch-parent>
    
</app-stopwatch-parent> -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" routerLink="/number" routerLinkActive="active">Number</a>
                    </li>
                    <li>
                        <a routerLink="/watch" routerLinkActive="active">Stop Watch</a>
                    </li>
                    <li>
                        <a routerLink="/color" routerLinkActive="active">Color</a>
                    </li>
                    <li>
                        <a routerLink="/theme" routerLinkActive="active">Theme</a>
                    </li>
                    <li>
                        <a routerLink="/ui" routerLinkActive="active">UI Element</a>
                    </li>
                    <li>
                        <a routerLink="/output" routerLinkActive="active">Output Parent Child Toggle Form</a>
                    </li>
                    <li>
                        <a routerLink="/testvc" routerLinkActive="active">Test View Children</a>
                    </li>
                    <li>
                        <a routerLink="/testcc" routerLinkActive="active">Person ContentChild/Children using Directive / Component</a>
                    </li>
                    <li>
                        <a routerLink="/bindings" routerLinkActive="active">Bindings</a>
                    </li>
                    <li>
                        <a routerLink="/sharing" routerLinkActive="active">Sharing Parent to Child</a>
                    </li>
                    <li>
                        <a routerLink="/structure" routerLinkActive="active">If Switch For</a>
                    </li>
                    <li>
                        <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
                    </li>
                    <li>
                        <a routerLink="/employee" routerLinkActive="active">Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!-- Routed views goes here -->
        <router-outlet></router-outlet>
    </div>
</div>